h1{
    color:red;
    font-size:40px;
}

.body_background{
    background-size:cover;
    background-position:center;

}
#myCanvas{
    border-width:10px;
    background-image:"bg1.jpg";
    border:10px ridge;
}